:root {
    --color-primary: #1d1c1c;
    --color-secondary: #dcf672;
    --bg-color: rgb(14, 13, 13);
    --text-color: white;
    --hover-bg-color: #494949;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-color);
}

.card {
    background-color: var(--color-primary);
    width: 80%;
    max-width: 1440px;
    padding: 30px 40px;
    border-radius: 15px;
    border: 1px solid hsl(72, 88%, 71%, 0.2);
    box-shadow: 5px 5px 10px hsl(72, 88%, 71%, 0.3);
}

.card header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .containerimg {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-image: url("profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card header h1 {
    color: var(--text-color);
    font-size: 1rem;
    margin: 5px;
    margin-top: 20px;
}

.card header h2 {
    color: var(--color-secondary);
    font-size: 0.85rem;
    margin: 5px;
}

.card header p {
    color: var(--text-color);
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.card section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card section a {
    color: var(--text-color);
    background-color: #333333;
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-weight: bolder;
}

.card section a:hover {
    background-color: var(--hover-bg-color);
    color: var(--color-secondary);
}

/* Media Query para Dispositivos Móviles */
@media (max-width: 768px) {
    .card {
        width: 90%;
        padding: 20px;
    }

    .card header h1 {
        font-size: 1.2rem;
    }

    .card header h2 {
        font-size: 1rem;
    }

    .card header p {
        font-size: 0.9rem;
    }

    .card section a {
        padding: 15px;
    }
}
