body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
button{
    padding: 5px;
    height: 70px;
    width: 150px;
    font-size: 1.2rem;
    border: 0px solid transparent;
    background-color: rgb(37, 101, 184);
    color: white;
    border-radius: 5px;
}
.elements-container{
    display: flex;
    gap: 10px;
    max-width: 80%;
    flex-wrap: wrap;
}
.elements-container button{
    height: 50px;
    background-color: green;
}
img{
    height: 50px;
    width: 50px;
}