body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;

}
.container{
    color:black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.uno{
    background-color: rgb(238, 255, 0);
    height: 400px;
    width: 400px;
    border-radius: 15px;
}
.dos{
    background-color: rgb(255, 0, 0);
    height: 300px;
    width: 300px;
    border-radius: 15px;
}
.tres{
    background-color: rgb(13, 255, 0);
    height: 300px;
    width: 300px;
    border-radius: 15px;
}

