:root {
    --color1: #F8B78B;
    --color2: #FCB173;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color: var(--color1);
    background-image: url(../img/fondoTop.svg), url(../img/fondoBotton.svg);
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    width: 320px;
    border-radius: 16px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    
    &-header {
        width: 100%;
        display: block;
    }
    
    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid var(--color2);
        
        &-contentimg {
            border: 5px solid #e06b44;
            border-radius: 50%;
            box-shadow: 0px -10px 20px rgba(250, 100, 13, 0.5);
            background-color: #fcc6a2;
            margin-top: -40px;
            
            &-image {
                height: 150px;
                padding: 20px;
            }
        }
        &-title{
            margin-top: 2rem;
            font-size: 3rem;
            & span{
                color: var(--color2)
            }
        }
    }
    
    &-footer {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        &-resistance{
            text-align: center;
            margin-bottom: 2rem;
            margin-top: 2rem;
            & img{
                height: 40px;
            }
        }
        &-power{
            text-align: center;
            margin-bottom: 2rem;
            margin-top: 2rem;
            & img{
                height: 40px;
            }
        }
        &-bonus{
            text-align: center;
            margin-bottom: 2rem;
            margin-top: 2rem;
            & img{
                height: 40px;
            }
        }
    }
}
