/* General */
body {
    font-family: sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    height: 100vh;
}

/* Estilo para la tabla */
table {
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

/* Estilo para la cabecera de la tabla */
thead {
    background-color: rgb(26, 200, 216);
    color: #ffffff;
}

/* Estilo para las filas */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

/* Estilo para las celdas */
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

/* Estilo para el encabezado de la tabla */
th {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-weight: bold;
}
